<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Form</title>
  </head>
  <body>
    <center>
    <h1>EDIT FORM</h1>
    <h4><%=err%></h4>
    <form action="/students/edit/<%=data_students.id%>" method = "POST">
      <br>
      First Name :<br>
      <input type="text" name="first_name" value= "<%=data_students.first_name%>" >
      <br>
      Last Name :<br>
      <input type="text" name="last_name" value= "<%=data_students.last_name%>" >
      <br>
      Email :<br>
      <input type="text" name="email" value= "<%=data_students.email%>" >
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </center>

  </body>
</html>
